@font-face {
  font-family: 'RobotFont';
  src: url(./assets/custom-fonts/RobotInvaders-d9VmR.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  
}

.logo {
  max-width: 350px;
}

.title {
  color: #fff;
  margin: 14px 0;
}

.category-area {
  display: flex;
  gap: 14px;
  margin-bottom: 34px;
}

.category-button {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button-frase {
  background-color: black;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  color: goldenrod;
  font-size: 20px;
}

.textoFrase {
  width: 420px;
  background-color: teal;
  border-radius: 4px;
  text-align: center;
  padding: 14px 22px;
  margin: 24px 0 16px 0;
  line-height: 150%;
  color: goldenrod;
  font-family: 'RobotFont';
}